@font-face {
    font-family: "Minimal Mono";
    font-weight: 100;
    src: url("../fonts/Minimal-Mono/Minimal-Mono-Regular_0.otf");
}

@font-face {
    font-family: "Minimal Mono";
    font-weight: 300;
    src: url("../fonts/Minimal-Mono/Minimal-Mono-Bold_0.otf");
}

@font-face {
    font-family: "Minimal Mono";
    font-weight: 500;
    src: url("../fonts/Minimal-Mono/Minimal-Mono-Black_0.otf");
}

@font-face {
    font-family: "Bank Printer Regular";
    src: url("../fonts/Bank-Printer/F25_Bank_Printer.otf");
}

@font-face {
    font-family: "Verily Serif Mono";
    src: url("../fonts/Verily-Serif-Mono/VerilySerifMono.otf");
}

@font-face {
    font-family: "Cousine";
    src: url("../fonts/Cousine/Cousine-Regular.ttf");
}

::selection {
    /* background: #dbdbe5; */
    background: #7469d64b;
}


.container-fluid {
    padding: 0 4%;
}

body {
    --page-color: #E5E5DB;
    background-color: var(--page-color);
}

.error-message-404 {
    text-align: center !important;
}

#num-404 {
    font-size: 8vmax;
}

#sidebar {
    padding: 0;
}

#logo {
    cursor: grab;
    max-width: 200px;
}

.fa-solid {
    transition: 0.3s transform ease-in-out;
}

.btn:focus, .btn:active:focus {
    outline: none;
    box-shadow: none;
}

.collapsed .fa-solid {
    transform: rotate(180deg)
}

.nav-link {
    font-family: "Minimal Mono";
    font-weight: 100;
}

.nav-link:hover {
    text-decoration: line-through;
    font-weight: 300;
}

.active {
    color: var(--text-color-dark);
    font-weight: 300;
    cursor: not-allowed;
}

i {
    color: #181717;
}

i:hover {
    color: #989891;
}

.active:hover {
    text-decoration: none;
}

.social-icons {
    margin: 1rem 0;
}

.social-button {
    color: #4b4b48;
}

.social-button:hover {
    color: #989891;
}

#content {
    padding-left: 10%;
    padding-right: 10%;
}

.photograph {
    display: block;
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.photograph-div {
    padding:16px;
    margin-bottom: 50px;
    background-color: whitesmoke;
}

p {
    --text-color-dark: #181717;
    color: var(--text-color-dark);
    margin: 1rem 0;
    font-family: "Verily Serif Mono";
}

code {
    padding: 0.15rem;
    border-radius: 2px;
    background-color: #d0d0bd;
    /* color: var(--text-color-dark); */
    /* font-size: 1rem; */
    font-family: "Cousine";
}

.sneaky-link {
    color: var(--text-color-dark);
    text-decoration: none;
}

.sneaky-link:hover {
    color: var(--text-color-dark);
    text-decoration: line-through;
}

.story {
    margin: 1rem 0 0 0;
}

.image-specs {
    /* margin-top: 2px; */
    color: var(--text-color-dark);
    opacity: 0.5;
    font-family: "Minimal Mono";
    font-size: smaller;
    font-weight: 100;
    font-style: oblique;
    user-select: none;
}

h1, h2 {
    color: var(--text-color-dark);
    margin: 1rem 0;
    font-family: "Minimal Mono";
    font-weight: 300;
}

h3, h4, h5, h6 {
    color: var(--text-color-dark);
    margin: 1rem 0;
    font-family: "Minimal Mono";
    font-weight: 100;
}

li {
    color: var(--text-color-dark);
    font-family: "Verily Serif Mono";
}

#copyright {
    background-color: #D0D0BD;
    color: var(--text-color-dark);
    font-family: "Minimal Mono";
    font-size: smaller;
    font-weight: 100;
}

a {
    color: #f5a30a;
    text-decoration: none;
}

a:hover {
    color: #f8be54;
    text-decoration: line-through;
}

.photograph-btn {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
}

.photograph-title {
    margin-top: 0;
    /* font-weight: 300; */
    text-align: center;
}

.modal {
    --bs-modal-border-radius: 0;
}

.modal-title {
    margin-top: 0;
    /* font-weight: 300; */
}

.modal-dialog {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    background-color: whitesmoke;
}

.modal-header {
    padding-bottom: 0;
    border: 0;
}

.modal-footer {
    padding-top: 0;
    border: 0;
}

.download-image-a, .download-image-a:hover {
    color: var(--text-color-dark);
}

.download-image-btn {
    background-color: var(--page-color);
    color: var(--text-color-dark);
    font-family: "Minimal Mono";
    font-weight: 100;
    padding: 8px;
    border: 0;
    margin: 0;
}

.download-image-btn:hover {
    background-color: #D0D0BD;
    text-decoration: line-through;
    font-weight: 300;
}

.carousel {
    margin: 1rem auto;
    /* width: 90%; */
}

/* .carousel-control-prev:hover {
    cursor: w-resize;
}

.carousel-control-next:hover {
    cursor: e-resize;
} */

/* this is necessary because the .active class has a not-allowed cursor hover state from the nav. find a more elegant workaround? */
.carousel-item:hover {
    cursor: default;
}

.carousel-caption-text {
    --bs-bg-opacity: 0.5;
    font-family: "Verily Serif Mono";
    font-size: 0.75vmax;
}